.timeSlot-container {
  width: 60%;
  margin-bottom: 8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;

  &.hidden {
    display: none;
  }

  .timeSlot {
    width: 17%;
    border: 0.1rem solid #1a4486;
    border-radius: 0.5rem;
    padding: 0.5rem;
    text-align: center;
    color: #FFFFFF;
    background: radial-gradient(ellipse 100% 100% at 0% 100%, #194893 50%, #4272c4 100%);
  }
}