.timeSlot-container {
  width: 60%;
  display: flex;


  .timeSlot {
    width: 10%;
    border: 0.1rem solid #1a4486;
    border-radius: 0.5rem;
    padding: 0.5rem;
    text-align: center;
    color: #FFFFFF;
    background: radial-gradient(ellipse 100% 100% at 0% 100%, #194893 50%, #4272c4 100%);
  }

  .timeSlot.selected {
    background: radial-gradient(ellipse 100% 100% at 0% 100%, #501993 50%, #a442c4 100%);
    border: 0.1rem solid #501993FF;
    font-weight: bold;
  }
}